html, body {
  min-height: 100% !important;
  height: 100%;
}
body {
  min-height: 100%;
}

#root{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.icon {
  width: 65px;
  height: 65px;
}

.statistics-icon {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}