html, body { min-height: 100vh; display: flex; flex-direction: column;}

#root {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.icon {
  width: 65px;
  height: 65px;
}

.statistics-icon {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}